* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: sans-serif;
}

/* Contenedor */
.contenedor {
    background-color: #245076;
    margin: 0 auto;
    width: 900px;
}

/* Colores Generales */
p {
    color: white;
}

h2 , .CambioColor{
    color: #c6aa0a;

}

/* Estilos para el Main */
main{
    padding: 50px;
    padding-top: 0;
}
/* Estilos para el Header */

#imagenSuperior {
    height: 100px;

}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

#FormBuscador {
    background-color: #444444;
    padding: 10px 40px;
    border-radius: 10px;
    box-shadow: 2px 2px#1a191960;
}

#buscador {
    text-align: center;
    height: 30px;
    width: 200px;
}

#botonSubmit {
    height: 25px;
    width: 35px;
    background-color: #245076;
    color: white;
    border: 2px solid #c0c0c0;
    border-radius: 3px;
    border-style: outset;
    box-shadow: 2px 2px 2px #1a191960;
}

#text_input {
    margin-left: 140px;
}

/* Estilos para la barra de navegacion */
#ListaNav {
    background-color: #487ead;
    color: white;
    font-size: 20px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.555);
    border-radius: 5px;

    padding: 10px 0;

    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#ListaNav>*:hover {
    background-color: #29296646;
    color: black;
    cursor: pointer;
}

/* Primer area de Texto */

#PrimerDivTexto{
    margin: 20px;
    display: flex;
    align-items: center;
}

#PrimerDivTexto ul{
    height: 200px;

    flex: 1;
    text-align: center;

    list-style: inside;
    list-style-type: ">> ";

    color: #c6aa0a;
    font-size: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

#PrimerDivTexto ul li a{
    color: white;
    font-size: 17px;
}

#TextoDerecha{
    flex: 3;
    text-align: center;
}

#TextoDerecha p{
    font-size: 13px;
}

#TextoDerecha h3, #TextoDerecha h2{
    margin: 6px 0;
    font-weight: 100;
}
#TextoDerecha h3{
    color: white;
    margin-bottom: 20px;
}

/* Estilos para el div blanco */

#div_blanco{
    background-color: white;
    border-top: 2px solid #102638;
    display: flex;
    justify-content: space-evenly;

    padding-bottom: 10px;
}

.div_texto{
    margin-top: 5px;
    width: 300px;
    border-top: #4f7494 solid 5px;
    text-align: center;
}

.div_texto .titulo{
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.div_texto .text_info{
    color: black;
    font-size: 14px;
}

.div_texto ul{
    margin-top: 5px;
    text-align: center;
}


.div_texto li{
    color: #4f7494;
    list-style: square; 
}

footer{
    background: linear-gradient(#245076 , rgb(63, 141, 209));
    padding: 40px 165px 0;
    border-bottom: 1px solid white;
    text-align: center;
}

footer #separador{
    display: flex;
    justify-content: space-around;
    
}

footer > p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
}

footer p{
    color: #89c6fc;

}